@charset "UTF-8";

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: marrom;
    background-color: darkgoldenrod;
}

h2 {
    color: darkred;
    background-color: lightblue;
}

p {
    text-align: justify;
}

                                    